<div class="container">
  <app-git-search (findAccount)=sendName($event) (name)=getLink($event) (repoRes)=getRepository($event)></app-git-search>
</div>
   <h3>Account</h3>
   <div class="container" >
    <div class="row">
      <div class="col-md-4">
        <img src="{{users.avatar_url}}" alt="" class="img">
      </div>
      <div class="col-md-8">
        <h3>Username {{users.name}}</h3>
        <hr>
        <span  class="follow-d">Followers {{users.followers}}</span> <span class="follow-d">Following{{users.following}}</span>
        <!-- <button type="button" name="button" >Repos</button> -->
      </div>
    </div>
       <a href="#">{{users.followers}}</a>
    <!-- <div *ngFor='let repo of repos'>
      <small>{{repo}} <br> This is the link {{repou}}</small>
    </div> -->

   <div class="container">
     <table class="table table-striped" *ngIf="repos">
       <thead>
         <tr>
           <th>Repossitory</th>
           <th> Link to repo</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td >
              <small *ngFor='let repo of repos'>{{repo}}<br><br></small>
           </td> <br>
           <td>
              <small *ngFor='let repo_u of repos_url'>{{repo_u}}<br><br></small>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
