  <div class="container-fluid main">
    <div class="overlay">

      <div class="img-l">
        <img src="assets/github.png" width="150px" alt="">
      </div>
      <small>Enter Your name to get account details</small>
      <app-git-search (findAccount)=sendName($event) (name)=getLink($event) (repoRes)=getRepository($event)></app-git-search>
    </div>
  </div>

  <div class="container data">
    <h3>Account</h3><br><br>
    <div class="row">
      <div class="col-md-4">
        <img src={{users.avatar_url}} width="300px" alt="" class="img">
      </div>
      <div class="col-md-8 users">
        <h4>{{users.name}}</h4>
        <hr>
        <small class="follow-d"> <img src="assets/followers.png" width="20px" alt="">{{users.followers}} Followers</small>
        <small class="follow-d"> <img src="assets/following.png" width="20px" alt="">{{users.following}} Following</small>
        <small class="follow-d"> <img src="assets/repo.jpg" width="20px" alt=""> {{users.public_repos}} Repositories</small>

        <!-- <button type="button" name="button" >Repos</button> --><br><br>
        <a href={{users.html_url}} class="btn btn-primary btn-sm" target="_blank">View on GitHub</a>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)='displayRepo()'>See Repositories</button>
      </div>
    </div>

    <br><br>

    <div class="container" *ngIf="result">

      <div class="row">
        <div class="col-md-5">
          <ul>
            <h5>Repositories</h5>
            <li *ngFor='let repo of repos'>
              {{repo}}<br><br>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <h5> View on Git Hub</h5>
          <ul>
            <li *ngFor='let repo_u of repoLink'>
              <a href="{{repo_u}}" class="btn btn-primary btn-sm" target="_blank">See Repository </a><br><br>
            </li>
          </ul>
        </div>
      </div>
    </div>
